/* CRUD */
body {
  background-color: #0a0a0a;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.render {
  width: 100%;
  gap: 20px;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.modal {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.btn-save {
  display: none;
  justify-content: center;
}

.modal > input,
button {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 40%;
  height: 10%;
  margin: 0 auto;
  padding: 5px;
}

.cards {
  width: 190px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  color: white;
  background-color: black;
}

.card {
  width: 190px;
  height: 254px;
  background-color: black;
  border-radius: 0;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.card:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.cards:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.btn-modal-add {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal-add::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.btn-modal-add:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.btn-modal-add:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.btn-edit,
.btn-delete {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  height: 2em;
  width: 40px;
  text-align: center;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-edit:active,
.btn-delete:hover {
  outline: 0;
}

.btn-edit span,
.btn-delete span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 0%;
  transition: 300ms;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-edit:hover span,
.btn-delete:hover span {
  background: none;
}

.btn-edit:active,
.btn-edit:active {
  transform: scale(0.9);
}
